<div class="container">
	<div class="row">
		<div class="col l12">
			<blockquote><h4 class="center">Buscador</h4></blockquote>
			<p>Ingresa en el buscador alguna letra o patrón para buscar las tecnologías.</p>
			<form>
				<input type="text" name="userInput" id="userInput" onkeyup="sendRequest()" placeholder="Search"> 
			</form>

			<div id="ajaxResponse">

			</div>

		</div>
	</div>
	<br>
	<div class="col l12">
			<blockquote><h4 class="center">Deudas</h4></blockquote>
			<p>Ingresa en el buscador algún número para encontrar a los clientes que deben más o lo mismo que dicha cantidad.</p>
			<form>
				<input type="number" name="userInput2" id="userInput2" onkeyup="sendRequest2()" placeholder="Search"> 
			</form>

			<div id="ajaxResponse2">

			</div>

		</div>
	</div>
</div>
<br>