<div class="container">
	<div class="row">
		<div class="col l12">
			<blockquote><h4 class="center">Preguntas</h4></blockquote> 
			<article>
				<h6>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</h6>
				<p class = "center"><img src="img/jquery.png">[1]</p>
				<p align="justify">El método $.ajax es configurado a través de un objeto, el cual contiene todas las instrucciones que necesita jQuery para completar la petición. Dicho método es particularmente útil debido a que ofrece la posibilidad de especificar acciones en caso que la petición haya fallado o no. Además, al estar configurado a través de un objeto, es posible definir sus propiedades de forma separada, haciendo que sea más fácil la reutilización del código. Se puede visitar api.jquery.com/jQuery.ajax para consultar la documentación sobre las opciones disponibles en el método. [2] </p>
				<h6>¿Qué alternativas a jQuery existen?</h6>
				<ul class="collection">
					<li class="collection-item">Zepto.js: Esta es la librería más rica en características de las que hemos podido encontrar, la cual está diseñada específicamente para iOS y Android (ambos utilizan el motor webkit). Se conserva casi toda la funcionalidad de jQuery en 8 kb (en lugar de los 32 de jQuery) y añade soporte para touch events (incluyendo el pellizcar para ampliar) y animaciones en CSS puro. Es una librería modular, es decir, puedes agregar solamente los componentes que necesites para crear una librería incluso más ligera.</li>
					<li class="collection-item">Snack.js: Snack es una pequeña y simple librería de JavaScript. Aunque ideal para proyectos pequeños, cuenta con el suficiente potencial para construir complejas aplicaciones web multi-navegador. Cuenta con un enfoque diferente al de Zepto, ya que se separa de la API de jQuery, pero 3Kb es la mitad del tamaño con respecto al anterior.</li>
					<li class="collection-item">$dom: $dom es aún más pequeño, solamente 2Kb. Mantiene la compatibilidad entre navegadores e incluso se encarga de las animaciones (aunque tomando el enfoque de jQuery con un timeout), pero omite funcionalidades como las funciones para la manipulación de arrays y AJAX. El caso ideal para el uso de esta librería es el desarrollo de webs responsives, que se puedan mostrar de forma correcta en smartphones, tabletas y ordenadores de sobremesa.</li>
					<li class="collection-item">xui.js: XUI es un pequeño framework para la creación de aplicaciones web móviles en HTML5 que solo pesa 4Kb. Funciona en todos los dispositivos del panorama móvil, e incluso cuenta con builds especiales para WebKit, IE mobile y el navegador de Blackberry. Es compatible con los events touch e incluso tiene un plugin de compatibilidad jQuery.</li>
					<li class="collection-item">140medley: No se puede ser más pequeño que 140medley. Esta colección de 0,5 kb se inspiró en el concurso 140bytes, donde los participantes crean fragmentos de JavaScript del tamaño de un tweet. Es compatible con plantillas, eventos e incluso AJAX. ¿Lo peor? Que la única documentación que existe es a través de los comentarios que hay en el código fuente.[3]</li>
				</ul>
			</article>
		</div>
	</div>
	<div class="row">
		<div class="col l12">
			<blockquote><h4 class="center">Referencias</h4></blockquote> 
			<article>
				<ol>
					<li>Krall, C. (s.f). ¿Qué es y para qué sirve Ajax? Ventajas e inconvenientes. JavaScript asíncrono, XML y JSON. (CU01193E) Sitio web: https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=882:ique-es-y-para-que-sirve-ajax-ventajas-e-inconvenientes-javascript-asincrono-xml-y-json-cu01193e&catid=78&Itemid=206</li>
					<li>uniwebsidad. (s.f). 7.3. Métodos Ajax de jQuery. 19/03/19, de uniwebsidad Sitio web: https://uniwebsidad.com/libros/fundamentos-jquery/capitulo-7/metodos-ajax-de-jquery</li>
					<li>s.a. (s.f). 5 alternativas ligeras a jQuery para el desarrollo móvil. 19/03/19, de Programacion.net Sitio web: https://programacion.net/articulo/5_alternativas_ligeras_a_jquery_para_el_desarrollo_movil_1434
					</li>
				</ol>
			</article>
		</div>
	</div>
</div>