<div class="container">
  <blockquote><h4>Actualiza alguna fruta</h4></blockquote>
  <form class="row no-margin-bottom" action="updateController.php" method="POST">
     <div class="col m8 offset-m2">
      <div class="row no-margin-bottom">
        <div class="input-field col s6">
          <input id="nombre" name="nombre" type="text" class="validate" required>
          <label for="nombre">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input id="unidades" name="unidades" type="number" class="validate" required>
          <label for="unidades">Nuevas Unidades</label>
        </div>
        <div class="input-field col s6">
          <input id="cantidad" name="cantidad" type="number" class="validate" required>
          <label for="cantidad">Nueva Cantidad</label>
        </div>
        <div class="input-field col s6">
          <input id="precio" name="precio" type="number" class="validate" required>
          <label for="precio">Nuevo Precio</label>
        </div>
        <div class="input-field col s6">
          <input id="pais" name="pais" type="text" class="validate" required>
          <label for="pais">Nuevo País</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Agregar</button>
      </div>
    </div>
  </form>
</div>