<div class="container">
  <blockquote><h4>¿Qué fruta quieres remover?</h4></blockquote>
  <form class="row no-margin-bottom" action="removerController.php" method="POST">
    <div class="col m8 offset-m2">
      <div class="row no-margin-bottom">
        <div class="input-field col m12">
          <input type="text" id="nombre" name="nombre" class="autocomplete" required>
          <label for="autocomplete-input">Nombre</label>
          <button type="submit" class="waves-effect waves-light btn">Buscar</button>
        </div>
      </div>
    </div>
  </form>
</div>