<div class="container">
	<div class="row">
		<div class="col l12">
			<blockquote><h4 class="center">Preguntas</h4></blockquote> <article>
				<strong><h6>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</h6></strong>
				<p> Que permite que las aplicaciones desarrolladas de Internet funcionen tan bien como las aplicaciones de escritorio </p>
				<h6>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</h6>
				<p>Se tienen que seguir haciendo las validaciones de seguridad del lado del servidor, asegurarnos de prevenir ataques de Cross Side Scripting, SQL Inyection y demás.</p>
				<h6>¿Qué es JSON?</h6>
				<p>JavaScript Object Notation: Es un formato de texto plano, un conjunto de atributos con valores. Que en lugar de regresar texto puede regresar atributos que son interpretados más fácilmente por JavaScript y colocados en el HTML.</p>
			</article>
		</div>
	</div>
</div>